@font-face {
  font-family: 'Khas';
  src: url('Khas.eot');
  src: url('Khas.eot?#iefix') format('embedded-opentype'),
  url('Khas.otf')  format('opentype'),
  url('Khas.woff') format('woff'),
  url('Khas.ttf')  format('truetype'),
  url('Khas.svg#Khas') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: 'Roboto', sans-serif;
}

.preeti, .preeti textarea {
    font-family: preeti;
    font-size: 30px;
}

.khas, .khas textarea {
    font-family: 'Khas';
    font-size: 30px;
}

.red { color: #d9534f; }
.green { color: #5cb85c; }
.yellow { color: #ffc107; }
.blue { color: #5bc0de }
.skyblue { color: #428bca; }
.light { color: #f9f9f9; }
.dark { color: #343a40; }